boto3==1.9.62
botocore==1.12.62
certifi==2018.11.29
chardet==3.0.4
docutils==0.14
idna==2.8
inflect==2.1.0
irc==17.0
jaraco.classes==1.5
jaraco.collections==1.6.0
jaraco.functools==1.20
jaraco.itertools==3.0.0
jaraco.logging==1.5.2
jaraco.stream==1.2
jaraco.text==1.10.1
jmespath==0.9.3
more-itertools==4.3.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
s3transfer==0.1.13
six==1.12.0
tempora==1.14
urllib3==1.24.1
